################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ObjectValidator/bin/Debug/netcoreapp1.0
/UT/bin/Debug/netcoreapp1.0
/UT/obj/Debug/netcoreapp1.0
