<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="EggKeeperSdk" version="1.0.6" targetFramework="net45" />
  <package id="Newegg.Po.Common.Service" version="0.0.9.19" targetFramework="net45" />
  <package id="Newegg_FrameworkAPISDK" version="1.2.1" targetFramework="net45" />
  <package id="Newegg_FrameworkTools" version="1.0.1" targetFramework="net45" />
  <package id="Newegg_NairSdk" version="2.0.4" targetFramework="net45" />
  <package id="Newegg_OverseaDataAccess" version="1.1.0" targetFramework="net45" />
  <package id="Newegg_RestAPIClient" version="1.1.0" targetFramework="net45" />
  <package id="Newegg_RESTAPIFramework" version="1.2.7" targetFramework="net45" />
  <package id="ObjectValidator" version="0.0.4.3" targetFramework="net45" />
</packages>